<form action="/members" method="POST">
	<label for="name">Name</label><br />
	<input id="name" type="text" name="name" value="" required/> <br />

	<label for="surname">Surname</label><br />
	<input id="surname" type="text" name= "surname" value="" required/> <br />

	<label for="premium">Premium</label><br />
	<select id="premium" name="premium">
		<option value="true">Yes</option>
		<option value="false">No</option>
	</select><br />
	<input type='submit' value="Submit"/>
</form>
