<h1>Course Details</h1>
<table>
  <tr>
    <th>Course Name</th>
    <th></th>
    <th>Capacity</th>
    <th></th>
    <th>Offpeak</th>
  </tr>

 <tr>
      <td>
      <%= @gym_course.course_name %></td>
      <td>|</td>
      <td>
          <%= @gym_course.capacity %>
      </td>
      <td>|</td>
      <td>
        <%= @gym_course.offpeak %></td>
    </tr>
      


</table>
